<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Ifunciones" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3613/funciones.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Ifunciones" contract="ServiceReference1.Ifunciones"
                name="BasicHttpBinding_Ifunciones" />
        </client>
    </system.serviceModel>
</configuration>